.tooltip {
    position: absolute;
    /*width: 30rem;*/
    min-width: 30rem;
    /*left: 15%;*/
    /*border: 5px solid black;*/
    /*margin: 20px;*/
    /*padding: 4px 12px;*/
    /*margin-left: calc(100%);*/
    justify-content: center;
    color: var(--text-color-2);
    background-color: var(--border-color-1);
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    /*top:50%;*/
    /*left:100%;*/
    margin-left: auto;
    margin-right: auto;
    transform:translate(-45%, 0);
    /*font-weight: 400;*/
    /*pointer-events: none;*/
}

.toolTipText {
    border-radius: 12px;
    /*margin: 20px;*/
    padding: 4px 12px;
}

.toolTipText .toolTipTextButton {
    background-color: bisque;
    color: darkred;
    font-weight: 400;
}