.sidebar {
    background-color: var(--back-color-3);
    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);
}

.into-sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}