.header-block {
    /*width: 400px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-red-text {
    font-size: x-large;
    font-weight: bold;
    padding: 0 5px;
    color: darkred;
    margin: 0 0 5px 0;
}

.tip-block {
    text-align: center;
}