.harks-and-naviks-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.harks-and-naviks-block {
    border-bottom: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
    width: 25rem;
}



.vladenia-block-information {
    border-bottom: 2px solid goldenrod;
}


.top-information div div {
    display: inline;
}




