.one-ability {
    border: 2px solid var(--border-color-1);
    margin: 5px;
    border-radius: 5px;
    /*width: 45%;*/
}

.one-ability-header {
    background-color: var(--border-color-1);
}

.one-ability-main > div {
    border-top: 1px solid var(--border-color-1);
}