.one-class {
    border: 2px solid var(--border-color-1);
    margin: 5px;
    border-radius: 5px;
    width: 25rem;
}

.one-class-header {
    background-color: var(--border-color-1);
}

.one-class-main > div {
    border-top: 1px solid var(--border-color-1);
}