:root {
  --back-color-1: tan;
  --back-color-2: indianred;
  --back-color-3: peachpuff;
  --border-color-1: goldenrod;
  --text-color-1: darkred;
  --text-color-2: white;
  background-color: bisque;
  /*background-color: peachpuff;*/
}

html {
  padding: 1rem;
  min-width: 600px;
  max-width: 1920px;
  margin: 0 auto;
}

input::placeholder {
  color: goldenrod;
}

textarea::placeholder {
  color: goldenrod;
}

@media (max-width: 10000px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}

.htmlHeader {
  position: relative;
  height: 3rem;
  background-color: var(--border-color-1);
}

.htmlHeader nav {
  padding: 0.5rem 0.5rem;
  font-size: larger;
}

.htmlHeader nav * {
  display: inline-flex;
  margin: 0 1rem;
  color: var(--back-color-3);
}

.middle {
  margin-top: 1rem;
  display: flex;
}

.middle .main-main {
  width: 100%;
}

.middle .main-main nav {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}

.middle .main-main nav h4 {
  margin: 0;
  cursor: pointer;
}

.middle .main-main nav .active {
  border-bottom: 2px solid var(--back-color-2);
}

.middle .main-main .main-information-block {
  margin: 0.5rem;
  border: 3px solid var(--border-color-1);
  border-radius: 5px;
}

footer {
  text-align: center;
  margin: 2rem;
}

.stats-with-field {
  display: flex;
  align-items: center;
}

.htmlHeader nav h3 a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.large-white-text {
  color: var(--back-color-3);
  font-size: larger;
  margin: 0 2px;
}

.white-text {
  color: var(--back-color-3);
  margin: 0 2px;
}

.big-bold-red-text {
  font-size: larger;
  font-weight: bold;
  padding: 0 5px;
  color: darkred;
  margin: 0 0 5px 0;
}

.bold-red-text {
  font-weight: bold;
  padding: 0 5px;
  color: darkred;
  margin: 0 0 5px 0;
}

.big-button {
  font-size: large;
  font-weight: bold;
}









